@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--c4) transparent;
}

a {
    text-decoration: none;
    color: #fff !important;
}

body {
    font-family: "Lexend", sans-serif;
    color: #fff;
    font-weight: 400;
    /* line-height: 1.5; */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #411b70;
}

.benefit-card {
    width: 100%;
    padding-left: 20px;
}

.benefit-card .benefit-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.benefit-card .benefit-card-header .benefit-card-icon {
    width: 60px;
    height: 60px;
    background-color: #b153c9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    border-radius: 8px;
}

.benefit-card .benefit-card-header .benefit-card-title {
    font-size: 24px;
    margin-left: 20px;
}

.benefit-card .benefit-card-body {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 200;
}

#oportunidade p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 340px;
    margin-inline-end: 290px;
    unicode-bidi: isolate;
}

@media screen and (max-width: 992px) {
    #oportunidade p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 25px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
}

.facilities-card-div {
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 992px) {
    .facilities-card-div {
        margin-top: -30px;
        justify-content: center;
        align-items: center;
    }
}

.facilities-card {
    width: 362px;
    height: 261px;
    background-color: #49207c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}


@media screen and (max-width: 992px) {
    .facilities-card {
        width: 100%;
    }
}

.facilities-card .facilities-card-icon {
    width: 70px;
    height: 70px;
    background-color: #b153c9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.facilities-card .facilities-card-title {
    font-size: 24px;
    font-weight: 600;
}

.card-professor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-professor .card-professor-img {
    max-width: 427px;
    max-height: 430px;
}


.card-professor .card-professor-body {
    border: 1px solid #b153c9;
    background-color: #3c1f63;
    width: 100%;
    padding: 20px 50px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.stripes {
    position: absolute;
    height: 110px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .stripes {
        display: none;
    }
}

.stripes div {
    width: 100%;
}

.stripes div:nth-child(1) {
    background-color: #a74299;
}

.stripes div:nth-child(2) {
    background-color: #a7429aad;
}

.stripes div:nth-child(3) {
    background-color: #a7429a41;
}

.stripes.left {
    transform: translateY(120%) translateX(-279px);
}

.stripes.right {
    transform: translateY(120%) translateX(547px);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    background-color: #49207c;
    text-align: center;
}

.mw-500 {
    max-width: 100px;
}